.table, .detaljnoTask{
	background:transparent;
	width:90%;
	margin-left: 5%;
	border-radius: 5px;
}

.detaljnoTask{
	margin-top: 10%;
}

.table th,td,tr{
	background-color: white;
}

.taskDetails{
	opacity: 0.75;
	border:2px solid lightgray;
}

.taskDetails button{
	padding:0px;
	margin: 0px;
	background-color: gray;
}

#unosTaskaForma{
	margin-top: 10%;
}

#text, #creatorsSolution{
	height:60px;
}

.otvaranjeZadatkaBtn{
	width:100px;
	height:30px;	
	margin-top: 10px;
	margin-bottom: 10px;

}