<div >

    <!-- PAGE -->
    <div id="page">

    
        <!-- MY ACCOUNT PAGE -->
        <section class="my_account parallax">

            <!-- CONTAINER -->
            <div class="container">

                <div class="my_account_block clearfix">
                   dobrodosli!
                </div>


            </div><!-- //CONTAINER -->
        </section><!-- //MY ACCOUNT PAGE -->



    </div><!-- //PAGE -->
</div>

<!-- TOVAR MODAL CONTENT -->
<div id="modal-body" class="clearfix">
    <div id="tovar_content"></div>
    <div class="close_block"></div>
</div><!-- TOVAR MODAL CONTENT -->
