<div class="header">
	<div class="flashPoruka" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
	
	<div class="col-xs-6 col-xs-offset-3">
		<form id="unosTaskaForma" ng-submit="dodajNoviTask()" name="form" role="form" ng-show="!dodavanjeTestova">
			<div class="form-group" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
				<label for="title">Kratki naslov zadatka:</label>
				<input type="text" class="form-control" name="title" id="title" ng-model="noviTask.title">
				<span ng-show="form.title.$dirty && form.title.$error.required" class="help-block">Naslov je obavezno polje!</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.text.$dirty && form.text.$error.required }">
				<label for="text">Tekst zadatka:</label>
				<input type="text" class="form-control" name="text" id="text" ng-model="noviTask.text">
				<span ng-show="form.text.$dirty && form.text.$error.required" class="help-block">Tekst zadatka je obavezno polje!</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.creatorsSolution.$dirty && form.creatorsSolution.$error.required }">
				<label for="creatorsSolution">Pocetno ispravno rjesenje zadatka:</label>
				<input type="text" class="form-control" name="creatorsSolution" id="creatorsSolution" ng-model="noviTask.creatorsSolution">
				<span ng-show="form.creatorsSolution.$dirty && form.creatorsSolution.$error.required" class="help-block">Pocetno rjesenje je obavezno polje!</span>
			</div>

			<div class="form-actions">
				<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">OK</button>
				<a href="#/tasks" class="btn btn-link">Odustani</a>
			</div>
		</form>



		<!---dodavanje testova---->
		<div ng-show="dodavanjeTestova">
			Testovi:
			<table class="table">
				<thead>
					<th>Input</th>
					<th>Output</th>
				</thead>
				<tbody ng-repeat="test in testovi">
					<tr>
						<td>{{test.input}}</td>
						<td>{{test.output}}</td>
					</tr>
				</tbody>
			</table>


			<form id="unosTestovaForma" ng-submit="dodajTest()" name="form" role="form">
				<div class="form-group" ng-class="{ 'has-error': form.input.$dirty && form.input.$error.required }">
					<label for="input">Input:</label>
					<input type="text" class="form-control" name="input" id="input" ng-model="noviTest.input">
					<span ng-show="form.input.$dirty && form.input.$error.required" class="help-block">Input je obavezno polje!</span>
				</div>

				<div class="form-group" ng-class="{ 'has-error': form.output.$dirty && form.output.$error.required }">
					<label for="output">Ocekivani output:</label>
					<input type="text" class="form-control" name="output" id="output" ng-model="noviTest.output">
					<span ng-show="form.output.$dirty && form.output.$error.required" class="help-block">Ocekivani output je obavezno polje!</span>
				</div>

				<div class="form-actions" style="text-align: center">
					<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Dodaj test</button>
					<button ng-click="zavrsiDodavanjeTaska()" ng-disabled="!imaTestova" class="btn" >Zavrsi</button>
				</div>
			</form>
		</div>
	</div>
</div>
