<div class="header">
	<div class="col-xs-6 col-xs-offset-3">
		<form id="editTaskaForma" ng-submit="editujTask()" name="form" role="form">
			<div class="form-group" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
				<label for="title">Kratki naslov zadatka:</label>
				<input type="text" class="form-control" name="title" id="title" ng-model="edittask.taskTitle">
				<span ng-show="form.title.$dirty && form.title.$error.required" class="help-block">Naslov je obavezno polje!</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.text.$dirty && form.text.$error.required }">
				<label for="text">Tekst zadatka:</label>
				<input type="text" class="form-control" name="text" id="text" ng-model="edittask.taskText">
				<span ng-show="form.text.$dirty && form.text.$error.required" class="help-block">Tekst zadatka je obavezno polje!</span>
			</div>
			<div class="form-group" ng-class="{ 'has-error': form.creatorsSolution.$dirty && form.creatorsSolution.$error.required }">
				<label for="creatorsSolution">Pocetno ispravno rjesenje zadatka:</label>
				<input type="text" class="form-control" name="creatorsSolution" id="creatorsSolution" ng-model="edittask.creatorsSolution">
				<span ng-show="form.creatorsSolution.$dirty && form.creatorsSolution.$error.required" class="help-block">Pocetno rjesenje je obavezno polje!</span>
			</div>

			<div class="form-actions">
				<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Spasi promjene</button>
			</div>
		</form>
	</div>
</div>
