<div id="top" class="header">
    <div class="flashPoruka" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

    <div class="col-xs-6 col-xs-offset-3">
        <button class="btn btn-dark btn-lg" style="margin-top: 30%; margin-left: 25%; opacity: 0.75;" ng-click="resetPassword()" ng-show="sendrequestpw">Posalji zahtjev za promjenom passworda</button>

        <div ng-show='resetPassworda' style="margin-top: 30%; margin-left: 25%;"><h4>Unesite string koji ste dobili mailom: </h4><input type="text" name="stringReseta" ng-model="forgotPassword" style="width: 70%;"><br><br><button style="margin-left: 25%; opacity: 0.75;" class="btn btn-dark btn-lg" ng-click="provjeriForgotPw()">OK</button></div>

        <form id="editForma" name="editForma" ng-submit="promijeni()" ng-show='resetPasswordaUnesenString' style="margin-top: 10%">
            <div class="form-group" ng-class="{ 'has-error': editForma.password1.$dirty && editForma.password1.$error.required }">
                <label for="password1">Novi password</label>
                <input type="{{inputTypeUredi}}" name="password1" id="password1" class="form-control" ng-model="password1" required />
                <span ng-show="editForma.password1.$dirty && editForma.password1.$error.required" class="help-block">Novi password je obavezno polje!</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForma.password2.$dirty && editForma.password2.$error.required }">
                <label for="password2">Ponovljeni password</label>
                <input type="{{inputTypeUredi}}" name="password2" id="password2" class="form-control" ng-model="password2" required />
                <span ng-show="editForma.password.$dirty && editForma.password.$error.required" class="help-block">Password se mora tacno ponoviti!</span>
            </div>
            <div class="form-group">
                <label for="prikazPassworda">Prikazi password:</label>
                <input type="checkbox" name="prikazPassworda" id="prikazPassworda" ng-click="select($event)">
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="editForma.$invalid || dataLoading" class="btn btn-primary">OK</button>
                <a href="#/" class="btn btn-link">Odustani</a>
            </div>
        </form>
    </div>
</div>