<div class="header">
	<h1>Zadaci</h1>
	<h5>Filtriranje zadataka po: neuradjeni, svi</h5>	
	<h5>Redanje po: najnoviji, najpopularniji, random</h5>
	<h5>Kad se klikne na odredjeni zadatak otvara se ispod postavka zadatka i ima dugme za rijesi zadatak na koje se otvara konzola iznad ima tekst zadatka pored najbolja rjesenja itd</h5>

	<table class="table">
		<thead>
			<tr>
				<th>Tekst zadatka</th>
				<th>Broj rjesenja</th>
				<th>Brisanje</th>
			</tr>
		</thead>
		<tbody ng-repeat="task in tasks" ng-switch on="isSelTask(task)" ng-click="selectTask(task,$index)">
			<tr ng-class="{sel:selIdx==$index}">
				<td>{{task.taskText}}</td>
				<td>1111</td>
				<td>brisanje---sa provjerom</td>
			</tr>
			<tr ng-switch-when="true" class="taskDetails">
				<td colspan="2">{{task.taskText}}</td>
				<td colspan="1"><button ng-click="prikaziDetaljeTaska()">Otvori</button></td>
			</tr>
		</tbody>

	</table>

	<button ng-show="logovan()" style="margin-left: 45%; width:10%" ng-click="prebaciDodajTask()">
		Dodaj zadatak
	</button>
</div>