<div class="header">
	<h1>Zadaci</h1>
	<!--
		<div class="dropdown sortiranje" style="margin-left: 10%;">
			Sortiraj po:
			<button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#/tasks" ng-click="setOrder('najnoviji')">Prvo najnoviji</a></li>
					<li><a href="#/tasks" ng-click="setOrder('najstariji')">Prvo najstariji</a></li>
					<li><a href="#/tasks" ng-click="setOrder('najpopularniji')">Prvo najpopularniji</a></li>
					<li><a href="#/tasks" ng-click="setOrder('najnepopularniji')">Prvo manje popularni</a></li>
				</ul>
		</div>
-->
		<div style="margin-bottom: 2%">
			<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group" style="margin-left: 15%" id="prikaz">
				<button type="button" class="btn btn-secondary prikazsort">Svi zadaci</button>
				<button type="button" class="btn btn-secondary prikazsort">Uradjeni zadaci</button>
				<button type="button" class="btn btn-secondary prikazsort">Neuradjeni zadaci</button>
			</div>


			<div class="btn-group" role="group" style="margin-left: 5%" id="sort">
				<button type="button" class="btn btn-secondary prikazsort">Najnoviji prvo</button>
				<button type="button" class="btn btn-secondary prikazsort">Najstariji prvo</button>
				<button type="button" class="btn btn-secondary prikazsort">Najpopularniji prvo</button>
				<button type="button" class="btn btn-secondary prikazsort">Nepopularni prvo</button>
			</div>
			</div>

		</div>
		

		<table class="table">
			<thead>
				<tr>
					<th colspan="4" style="text-align: center;">Naslov zadatka</th>
					<th colspan="1" style="text-align: center;">Postavio</th>
					<th colspan="1" style="text-align: center;">Brisanje</th>
					<th colspan="1" style="text-align: center;">Izmjena</th>
				</tr>
			</thead>
			<tbody ng-repeat="task in tasks | orderBy: sortiranje:obrnuto" ng-switch on="isSelTask(task)">
				<tr ng-class="{sel:selIdx==$index}">
					<td colspan="4" style="text-align: center;" ng-click="selectTask(task,$index)">{{task.task.taskTitle}}</td>
					<td colspan="1" style="text-align: center;" ng-click="selectTask(task,$index)">{{task.task.user.username}}</td>
					<td colspan="1" style="text-align: center;"><button class="glyphicon glyphicon-trash"  ng-show="task.task.imaPrivilegijeBrisanja" ng-click="deleteTask(task, $index)"></button></td>
					<td colspan="1" style="text-align: center;"><button class="glyphicon glyphicon-edit"  ng-show="task.task.imaPrivilegijeBrisanja" ng-click="prikaziIzmjenuTaska(task)"></button></td>
				</tr>
				<tr ng-switch-when="true" class="taskDetails">
					<td colspan="7" style="padding-left: 5%;"><b>Tekst zadatka:</b> {{task.task.taskText}}</td>
				</tr>
				<tr ng-switch-when="true" class="taskDetails">
					<td colspan="7" style="padding-left: 5%;"><b>Datum postavljanja:</b> {{task.task.datumPostavljanja}}</td>
				</tr>
				<tr ng-switch-when="true" class="taskDetails">
					<td colspan="7" style="padding-left: 5%;"><b>Broj rjesenja:</b> {{task.brojRjesenja}}</td>
				</tr>
				<tr ng-switch-when="true" class="taskDetails">
					<td colspan="7" style="text-align: center;"><button ng-click="prikaziDetaljeTaska(task)" class='btn btn-dark otvaranjeZadatkaBtn' ">Više informacija</button></td>
				</tr>
			</tbody>

		</table>

		<button ng-show="logovan()" style="margin-left: 45%; width:10%" ng-click="prebaciDodajTask()">
			Dodaj zadatak
		</button>
	</div>