<div class="header">
<div id="tutorials">

		<!-- PAGE HEADER -->
		<section class="page_header">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<div id="imaginary_container">
							<div class="input-group stylish-input-group">
								<input type="text" ng-change = "pretraga()" class="form-control"  placeholder="Search" ng-model = "search">
								<span class="input-group-addon">

								</span>
							</div>
							<div class="btn-group" >
								<button type="submit" class="btn btn-default " ng-model="checkModel.left" uib-btn-checkbox>Pretazuj tagove</button>
								<button type="submit" class="btn btn-default "  ng-model="checkModel.right" uib-btn-checkbox>Pretrazuj tekstove</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- CONTAINER -->
			<div class="container">
				<h3 class="pull-left"><b>Dostupni tutorijali</b></h3>

				<div class="pull-right">
					<button type="submit" class="btn btn-default " ng-click="showMore()">{{prikazi}}</button><i class="fa fa-angle-right"></i> <!--ovo ako je kliknuto prikaze se i opis-->
				</div>
			</div><!-- //CONTAINER -->
		</section><!-- //PAGE HEADER -->


		<!-- LOVE LIST BLOCK -->
		<section class="love_list_block">

			<!-- CONTAINER -->
			<div class="container">

				<!-- ROW -->
				<div class="row">

					<!-- CART TABLE -->
					<div class="col-lg-11 col-md-13 padbot40">

						<table class="shop_table">
							<thead>
							<tr>
								<th class="product-thumbnail"></th>
								<th class="product-name">Tutorijali</th>
								<th class="product-add-bag">Ocjena tutorijala</th>
								<th class="product-remove" ng-show ="admin">Uredi tutorijal</th>
								<th class="product-remove" ng-show ="admin">Brisi tutorijal</th>
							</tr>
							</thead>
							<tbody>
							<tr class="cart_item" ng-repeat="t in tutorials">
								<td class="product-thumbnail"><a href="#" ></a></td>
								<td class="product-name">
									<a ng-click=" showTutorial(t.id)">{{t.title}}</a>
									<ul class="variation" ng-show ="show">
										<li class = tagovi">Tagovi: </li>
										<li class="tagovi" ng-repeat = "tag in t.tags"> {{tag.text}}</span></li>

										<p></p>
										<li class="opis">Opis: <span>{{t.about}}</span></li>
									</ul>
								</td>


								<td ><a class="add_bag" ng-repeat="i in getNumber(t.stars) track by $index" ><span class="glyphicon glyphicon-star"></span></a><a class="add_bag" ng-repeat="i in getNumberEmpty(t.stars) track by $index" ><span class="glyphicon glyphicon-star-empty"></span></a></td>

								<td class="product-remove"><a ng-click="uredi(t.id)">Uredi</a></td>
								<td class="product-remove"><a ng-click="brisi(t.id)">Brisi</a></td>

							</tr>
							<td class="product-name">
								<a ng-click="dodaj()">Dodaj novi tutorijal</a>
								<ul class="variation" ng-show ="show">

								</ul>
							</td>

							</tbody>
						</table>
					</div><!-- //CART TABLE -->


					<!-- SIDEBAR -->
					<div id="sidebar" class="col-lg-3 col-md-3 padbot50">


					</div><!-- //SIDEBAR -->
				</div><!-- //ROW -->
			</div><!-- //CONTAINER -->
		</section><!-- //LOVE LIST BLOCK -->



	</div><!-- //PAGE -->
	</div>